/* basic styles */
.MuiPaper-root {
    border-radius: 20px !important;
}

.section_one {
  flex: 0.3;
  min-width: fit-content;
  background-color: #f1f2f6;
  padding: 15px;
  /* align-items: center;
    margin: auto; */
}

.section_two {
  flex: 0.4;
  min-width: fit-content;
  background-color: #f1f2f6;
  padding: 15px;
}

.section_three {
  flex: 0.3;
  min-width: fit-content;
  background-color: #f1f2f6;
  padding: 15px;
}

/* advance styles */
.section_two_card {
  height: 87vh;
}

.section_three_profile_card {
    height: 25vh;      
}

.section_three_profile_card >h4 {
    margin-left: 15px;
}

.section_one_overview_card {
    height: 25vh; 
}

.section_three_form_card {
    height: 59vh;
}

.section_one_table_card {
    height: 59vh;
}

.prfile_content {
    margin-top: -8vh;
}

.profile_picture {
    border-radius: 50%; 
    border: 5px solid #D980FA;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.profile_name {
    text-align: center;
}